:root {
    --primaty-text-color:  #212121;
    --second-text-color: #757575;
    --accent-text-color: #2196F3;
    --logo-color: #000000;
    --white-text-color: #FFFFFF;
    --footer-background-color: #2F303A;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --primary-background-color:#FFFFFF;
    --second-background-color: #F5F4FA;
    --button-primary-background-color: #2196f3;
    --button-secondary-background-color: #f5f4fa;
  --secondary-background-color-hero-butto:#188CE8;}
  body{
    background-color: var(--primary-background-color);
    color: var(--primaty-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;}

    .container{ width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    
    margin: 0 auto;
/*     
    outline: 2px solid tomato; */
  }

  .section{
    padding-top: 94px;
    padding-bottom: 94px;
  }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul {margin: 0;
    padding: 0;}

    

  .link{ text-decoration: none; }
  .list{list-style: none;}

  .logo{display: block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #000000;
  }

  .logo-nav{padding-top: 24px;
    padding-bottom: 25px;}

    /* navigation */
.nav-link {
  display: block; font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primaty-text-color);
  padding-top: 32px;
padding-bottom: 32px;}

    .header-nav{display: flex;
    gap: 93px;}

    .page-header{border-bottom: 1px solid #ECECEC;}

    .header-container{display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    
  }
    .site-nav{display: flex;
    gap: 50px;
  align-items: center;}

  .nav-list{display: flex;
  gap: 50px;}
.auth-link {display: block;
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--second-text-color);
padding: 32px 0;}

.nav-link:hover,
.nav-link:focus {color: var(--button-primary-background-color);}

.link-current{color: var(--accent-text-color);}

.auth-link:hover,
.auth-link:focus {color: var(--button-primary-background-color);}

  .logo-web{
    color: var(--accent-text-color);} 
    .logo-cellar{color: var(--primary-background-color);}
  
/* hero */
    

  .hero{
    padding: 200px 0;
    background-color: var(--footer-background-color);}

  .hero-title{font-family: 'Roboto';
    font-weight: 900;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    color: var(--white-text-color) }
    
    
/* button  hero and portfolio */

.hero-button:hover,
.hero-button:focus{ background-color: var(--secondary-background-color-hero-butto); }


.hero-button{font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 4px;
    border: 0px solid transparent;
    letter-spacing: 0.06em;
    background-color: var(--button-primary-background-color);
    color: var(--white-text-color)}

  .button-portfolio {font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: 0px solid transparent;
    padding: 6px 22px;
    border-radius: 4px;
color: var(--primaty-text-color);
background-color: var(--button-secondary-background-color)}

.button-portfolio:hover,
.button-portfolio:focus{color: var(--primary-background-color);
    background-color: var(--button-primary-background-color);
}
/* visually-hidden */
.preference{padding-bottom: 0;}

.preference-list{display: flex;
gap: 30px;}


.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }
    /* preference */
  .preference-subtitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    }

    .preference-text{
font-size: 14px;
line-height: 1.71;
color: var(--second-text-color);
    }

    /* activity */

.activity-list{display: flex;
gap: 30px;}

    .section-title{
        font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
margin-bottom: 50px;

    }

    /* team */
    .team{background-color:var(--second-background-color)}
.team-card{
  width: calc(100%/4 - 30px/4*3);
   border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);}

  .imeg{display: block;
    max-width: 100%;
    height: auto;}

.team-list{display: flex;
gap: 30px;}

   .team-subtitle {
    font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
}

.team-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  margin-top: 10px;
color: var(--second-text-color);}

  .team-p{
    padding: 30px;
  }


/* footer */

.logo-cellar{
  width: fit-content;
  margin-bottom: 20px;}


.cellar{
  background-color: var(--footer-background-color);}
.web-doun{
  padding:  60px 15px;}

.adress{ font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
  color: var(--white-text-color)}

.adress-link{font-style: normal;
    font-size: 14px;
    line-height: 1.71;
   
    color: var(--footer-link-color);}

  .adress-list{margin-bottom: 9px;}

  
.adress-list:nth-child(3) {
  margin-bottom: 0px;
}

.adress-link:hover,
.adress-link:focus{color: var(--accent-text-color);}

.adress:hover,
.adress:focus{color: var(--accent-text-color);}

/* portfolio */
/* portfolio */

.portfolio{width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  
  margin: 0 auto;}


.portfolio-subtitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primaty-text-color);
}
.portfolio-text{font-size: 16px;
    line-height: 1.88;
    margin-top: 4px;
    color: var(--second-text-color);
}

.portfolio-btn{display: flex;
  justify-content: center;
gap: 8px;}


.portfolio-list{display: flex;
flex-wrap: wrap;
gap: 30px;
margin-top: 50px;
padding-left: 0;
padding-right: 0;
}


.element-portfolio{
  /* outline: 1px solid var(--second-background-color); */
}

.portfolio-content{padding: 20px 24px;
/* border: 1px solid var(--second-background-color); */
border-bottom: 1px solid var(--second-background-color) ;
border-left: 1px solid var(--second-background-color) ;
border-right: 1px solid var(--second-background-color) ;
}


  

